/* General Styles */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'variables';
@import 'compass';


body {
  font-family: 'Droid Serif', serif;
}

a {
  text-decoration: none;
  
}

section {
  overflow: hidden;
}

.center-align {
  text-align: center;
}

.visuallyHidden {
  height: 0;
  width: 0;
  font-size: 0;
  clip: rect(0,0,0,0);
  position: absolute;
}

/* site custom styles */

.page-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.slide1 {

  background: url(../img/background.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

header {
  height: 100px;
  margin-top: 100px;
  
}

.brand {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  .logo__media {
    vertical-align: bottom;
    height: 100px;
    width: 100px;
  }
}


.primary-navigation{
  font-family: 'Play', sans-serif;
  text-align: right;
  margin: 35px 0;
  a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px ;
    margin: 0 5px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 350px; 
    @include transition-property(all);
    &:hover {
      color: $ice-blue;
      background-color: #fff; 
      text-decoration: none;
      
      @include transition-duration(1s);
    }
  }
}

.slide-slicer-bottom {
  
  position: absolute;
  bottom: 0;
  img {
    width: 100%;
  }
}

.slide-slicer-top {
  
  position: absolute;
  bottom: -150px;
  z-index: 1;
  img {
    width: 100%;
  }
}


/* Slide2  */

.slide2 {
  height: 300px;
  background-color: #fff;
  position: relative;
}

 /* slide3  */
.slide3 {
  padding-top: 12%;
  height: 700px;
  background-color: #fff;
  position: relative;
  background: url('../img/bg-texture2.jpg') fixed top center; 
}

.feat-header {
  font-size: 30px;
  color: #1370E7;
}

.iconed {
  .iconed-media {
      i {
        font-size: 100px;  
      }
      
  }
  .iconed-body {

  }
}

.profile-img {
  border-radius: 50px;
  height: 200px;
  width: 200px;
}


/*flipper  */


.flip-container {
  @include perspective(1000);
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    @include rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 200px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
   @include transform-style( preserve-3d);
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  @include backface-visibility(hidden);

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  @include rotateY(180deg);
}

.slide4 {
  height: 400px;
  position: relative;
  .slide-slicer-bottom {
    bottom: -150px;
  }
}

.slide5 {
  padding-top: 170px;
  height: 400px;
  background: url('../img/bg-texture1.jpg') fixed center center; 
}
.contact {
  a {
    color: inherit;
     &:hover {
      color: #fff;
    }
  }
  i {
    font-size: 40px;
    padding: 10px 20px;
  }
}

.about-content {
  padding-left: 2%;
}

p {
  font-size: 18px;
}
.key-features {
  font-size: 18px;
}
.chat-download {
  margin-top: 10%;
}